* {
  font-family: 'Poppins', sans-serif;
}

/* Top Bar */
.admin-top-bar {
  transition: 0.3s ease;
  background-color: #C4C4C4;
}

.topbar-text {
  color: #13411F;
  font-size: 22px;
}

@media (min-width: 768px) {
  .admin-top-bar {
      margin-left: 300px;
  }
}

@media (max-width: 767.98px) {
  .admin-top-bar {
      margin-left: 0;
  }

  .topbar-title {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {

  .dropdown-toggle::after {
      display: none; 
  }

  .dropdown-toggle {
      font-size: 0; 
  }

  .dropdown-toggle .icon {
      font-size: 0.75rem; 
  }

  .dropdown-menu {
      position: absolute; 
      right: 0;
  }
}

/* END OF TOP BAR */

/* Main Content Area */
.main-content {
    margin-left: 300px;
    background-color: #EFEFEF;
    transition: 0.3s ease;
  }

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}

/* FULL CALENDAR */

.fc-toolbar-title {
  font-weight: bold;
  color: #2e7d32;
}

.fc-col-header-cell-cushion {
  color: #2e7d32;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.fc-daygrid-day-number {
  color: #2e7d32;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none !important;
}

.fc-day-today .fc-daygrid-day-number {
  background-color: #2e7d32;
  color: white !important;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.fc-daygrid-day-frame {
  border: none;
}

.fc-button {
  background-color: #2e7d32 !important;
  border: none;
  color: white;
  font-weight: 600;
}

.fc-button:hover {
  background-color: #1e6b28 !important;
}

.fc-button:disabled {
  background-color: #a5d6a7 !important;
  color: white;
}

.fc-button:focus {
  box-shadow: none !important;
}

.fc-event {
  background-color: #2e7d32 !important;
  border: none;
  color: white !important;
  font-weight: 500;
}

#calendar {
  padding: 10px;
  border-radius: 12px;
}

/* END OF FULL CALENDAR */

/* RECENT REQUEST TABLE */
.paid-status {
  background-color: #28a745; /* Green */
  color: black;
}

.unpaid-status {
  background-color: #dc3545; /* Red */
  color: black;
}

/* Document Status Colors */
.processing-status {
  background-color: #ffc107; /* Yellow */
  color: black;
}

.ready-to-release-status {
  background-color: #17a2b8; /* Teal */
  color: black;
}

.released-status {
  background-color: #28a745; /* Green */
  color: black;
}
/* END OF RECENT REQUEST TABLE */

/* ADMIN REQUEST */

/* END OF ADMIN REQUEST */

/* END OF MAIN CONTENT */