* {
    font-family: 'Poppins', sans-serif;
}

.icon {
    flex: 0 0 auto;
    font-size: 50px;
}

.barangay-id {
    background-color: #2A9245;
    padding: 50px 20px;
    display: flex;         
    align-items: center;
}

.barangay-clearance {
    background-color: #61AD41;
    display: flex;         
    align-items: center;
}

.certification {
    background-color: #13411F;
    display: flex;         
    align-items: center;
}

.business-permit {
    background-color: #2A9245;
    padding: 50px 20px;
    display: flex;         
    align-items: center;
}

.equipment-borrowing {
    background-color: #61AD41;
    padding: 50px 20px;
    display: flex;         
    align-items: center;
}

.cash-incentives {
    background-color: #13411F;
    padding: 50px 20px;
    display: flex;         
    align-items: center;
}

.cash_icon {
    flex: 0 0 auto;
    font-size: 50px;
}

/* .katarungang-pambarangay {
    background-color: #61AD41;
} */

/* .environmental-services {
    background-color: #13411F;
} */


