* {
    font-family: 'Poppins', sans-serif;
}

/* INDEX PAGE CSS */
.navbar-nav .nav-link {
    font-size: 15px; 
    font-weight: 500;
    color: #000000;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #2A9245;
}

.custom-signin-btn {
    background-color: #2A9245;
    color: white;
    font-weight: 500;
    font-size: 15px;
}

.custom-signin-btn:hover {
    background-color: #ffffff;
    border-color: #2A9245;
    color: #2A9245;
}

body {
    padding-top: 62px;
}

.carousel-inner img {
    height: 640px;
    object-fit: contain;
}
  
.carousel-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
  
.carousel-blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(15px);
    transition: background-image 0.5s ease-in-out;
    z-index: 1;
    transform: scale(1.1);
  
}

.carousel-container {
    position: relative;
    z-index: 2;
}

.carousel-control-prev, 
.carousel-control-next {
    top: 60%;
    transform: translateY(-75%);
}

.gradient-text {
    background: linear-gradient(to bottom, #2A9245, #0D2C15);
    -webkit-background-clip: text;
    background-clip: text;

}

.mission-vision-values {
    background: #FFFFFF;
    padding: 50px 20px;
    border-radius: 12px;
}

.card-custom {
    background: #FFFFFF;
    border-radius: 75px 12px 12px 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 40px;
    text-align: center;
    width: 300px; 
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-container .row {
  display: flex;
  align-items: stretch;
}

.card-custom h5 {
    font-weight: 700;
}

.card-custom p {
    font-size: 14px;
    color: #000000;
}

.services-container .row {
    --bs-gutter-x: -200px;
}


.services-container h1 {
    font-size: 25px; 
    font-weight: 700;
}

.service-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 100%;
    min-height: 120px;
    max-width: 500px;
    margin: 0 auto; 
    text-decoration: none;
}

.service-card h4 {
    font-size: 20px; 
    font-weight: 600;
}

.service-card p {
    font-size: 15px; 
    font-weight: 400;
}

.mid-green { background-color: #2A9245;}
.light-green { background-color: #61AD41;}
.dark-green { background-color: #13411F;}

.icon {
    font-size: 60px;
    margin-right: 15px;
}

.green-light { background-color: #6cbf6c; }
.green-dark { background-color: #265e26; }

.view-more {
    display: block;
    text-align: center;
    margin-top: 50px;
    font-weight: 500;
    color: #28a745;
    text-decoration: none;
}
.view-more:hover {
    text-decoration: underline;
}

.new-updates-container h1 {
    font-size: 25px; 
    font-weight: 700;
}

.scrollable-content {
    overflow-x: auto;
    white-space: wrap;
    gap: 15px;
    padding: 10px 0;
}

.scrollable-content::-webkit-scrollbar {
    height: 5px;
}

.scrollable-content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scrollable-content::-webkit-scrollbar-thumb {
    background: #2A9245;
    border-radius: 10px;
}

.news-card {
    min-width: 250px;
    text-align: center;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.news-card img {
    width: 100%;
    border-radius: 8px;
}

.about-text {
    background: linear-gradient(135deg, #0D2C15, #2A9245);
    padding: 30px;
    border-radius: 10px;
}

.about-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image-container img {
    margin-right: -95px;
}

.instruction-container h1 {
    font-size: 30px; 
    font-weight: 700;
}

.instruction-container .steps {
    font-size: 15px; 
    font-weight: 500;
    color: #13411F;
}

.instruction-container h4 {
    font-size: 20px; 
    font-weight: 600;
    color: #13411F;
}

.underline {
    width: 20%; 
    border: 2px solid #13411F; 
    margin: 0 auto 10px;
    opacity: 1;
}

.agency-footer {
    background-color: #2A9245; 
    color: white;
    padding: 10px;
}

.agency-footer h5 {
    font-size: 15px;    
}

.quick-link {
    font-size: 15px;    
}

.agency-footer .icon {
    font-size: 25px;
}

.standard-footer {
    color: black;
}

.standard-footer .seal {
    width: 280px;
    height: 280px;
}

.dropdown-item {
    font-size: 15px;
}

.dropdown-item:hover {
  color: #2A9245;
}

.dropdown-item:active {
  background-color: #2A9245 ; 
  color: white ; 
}

