* {
    font-family: 'Poppins', sans-serif;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px) scale(0.5);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@media (max-width: 768px) {
    /* Make banner text smaller on mobile - same as services tab */
    .position-relative .position-absolute h1 {
        margin-top: 10px;
        font-size: 1.25rem;
    }

    .position-relative .position-absolute p {
        margin-top: -5px;
        font-size: 0.75rem;
        text-align: center;
    }

    .container {
        margin-top: 0px;
        margin-bottom: 0px;
        
    }

    .row .align-items-center.img {
        margin-bottom: 0px;
    }
}