/* SIDEBAR CSS */
#sidebar {
  background-color: #13411F;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
  z-index: 1000;
  /* will-change: transform; */
  /* backface-visibility: hidden; */
  /* perspective: 1000; */
  /* scrollbar-width: thick; */
  /* scrollbar-color: #C4C4C4 transparent; */
}

#sidebar::-webkit-scrollbar {
  width: 8px;
}

#sidebar::-webkit-scrollbar-track {
  background: transparent;
}

#sidebar::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
  border-radius: 10px;
  border: 2px solid #13411F;
}

#sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #C4C4C4;
}

#close-btn {
  display: none;
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.sidebar {
  flex: 1;
}

.sidebar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  border-radius: 10px;
  transition: 0.3s ease;
  font-size: 1rem !important;
}

.sidebar a:hover {
  background-color: #ffffff;
  color: #13411F;
}

.sidebar a.active {
  background-color: #ffffff;
  color: #13411F;
}

.sidebar h1 {
  font-size: 23px !important;
  font-weight: 600;
  color: #ffffff;
}

.sidebar h2 {
  font-size: 12px !important;
  font-weight: 400;
  color: #98C93C;
}

.custom-hr {
  border: none;
  height: 2px;
  background-color: #ffffff33;
  margin: 1rem 0 0.5rem 0;
}

@media (max-width: 768px) {
  #sidebar {
    transform: translateX(-100%);
  }
  #sidebar.expand {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  #close-btn {
    display: block;
  }
}
